.button {
  padding: 10px 30px;
  border: 1px solid #d0cccc;
  border-radius: 5px;
}

.button:hover {
  background: #000000;
  border: 1px solid #d0cccc;
  outline: none;
  color: #ffffff;
}

.button-borrow {
  display: flex;
  align-items: flex-end;
}

.button-borrow a {
  border-radius: 10px;
  padding: 10px 30px;
  /* font-size: 30px; */
  color: #ffffff;
}

.button-borrow a:hover {
  color: #dddddd;
}
.button-save {
  /* padding: 0 20px; */
  border: none;
  background-color: #f4cf5d;
}
.button-save:hover {
  border: none;
  background-color: #fbcc38;
}

.button-yellow {
  background-color: #fbcc38;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
}
