@import "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  /* box-shadow: 3px 2px 20px #999999; */
  width: 300px;
  min-height: 900px;
  height: 100vh;
  background: #ffffff;
  text-align: center;
  padding: 50px;
  position: fixed;
  /* display: none; */
  transition: 1s;
  margin-left: -300px;
}

.dashboard-wrap {
  transition: 1s;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.show-sidebar {
  margin-left: 0;
  box-shadow: none;
  transition: 1s;
}

.menu-button {
  text-align: right;
  position: absolute;
  top: 20px;
  left: 240px;
}

.menu-button button {
  background: none;
}

.profile {
  margin: 10px 0 50px;
}

.profile img {
  width: 150px;
  height: 150px;
}

.profile h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
}

.sidebar-menu {
  text-align: left;
  margin-top: 4em;
}

.sidebar-menu > a {
  color: #000000;
  font-size: 1em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.sidebar-menu > a:hover {
  color: #424242;
  transition: 0.5s;
}

.icons {
  display: flex;
  flex-direction: row;
}

.custom-navbar {
  transition: 1s;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 3px 2px 20px #999999;
  display: flex;
  text-align: center;
  align-items: center;
}

.toggle-button {
  background: none;
  margin: 0 30px;
  display: block;
}

.all-menu,
.search-box,
.brand-logo {
  width: 80%;
  height: 100%;
}

.all-menu {
  padding: 10px 0;
}

.all-menu__list {
  padding-left: 20px;
  display: flex;
}

.search-box {
  padding: 10px 0;
  transition: 1s;
}

.search-icon {
  font-family: "Airbnb", FontAwesome;
}

.search-box input {
  padding: 0 30px;
  border-radius: 20px;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.brand-logo a {
  color: #000000;
  font-size: 20px;
  margin-right: 1em;
}

.brand-logo .nav-item {
  display: none;
}

.box-slider {
  width: 100%;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  flex-wrap: nowrap;
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
}

.book-slider {
  /* float: left; */
  width: 400px !important;
  height: 200px;
  border-radius: 20px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  transition: 1s;
  /* z-index: -1; */
}

.book-slider:hover {
  margin: 30px 100px;
  /* height: 250px; */
  /* width: 500px !important; */
  transform: scale(1.3);
  transition: 1s;
}

.list-book {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
  padding-bottom: 100px;
}

.list-book .books {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  transition: 0.5s;
  box-shadow: 10px 8px 10px 5px #dddddd;
}

.list-book .books:hover {
  box-shadow: 6px 4px 10px 2px #dddddd;
}
.list-book .books-head {
  width: 100%;
  height: 60%;
  /* background-color: aquamarine; */
  border-radius: 20px 20px 0 0;
}

.list-book .books-body {
  /* background-color: chartreuse; */
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #eaeaea;
}

.books-body .books-text {
  padding-bottom: 2em;
  font-size: 14px;
  font-weight: 300 !important;
}

.books .books-1 {
  background-size: cover;
  background-image: url("../img/covernya\ \(1\).png");
}

.books .books-2 {
  background-size: cover;
  background-image: url("../img/977994_346fec47-0d83-4c64-ac50-b3e121e797d0_700_700.png");
}
.books .books-3 {
  background-size: cover;
  background-image: url("../img/3992f708-3a68-412d-b583-e19d6a02df80.png");
}

.main {
  margin: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.card {
  border-radius: 15px;
  z-index: -1;
}

.title-list-book {
  /* margin-top: 280px; */
  padding: 20px 90px;
}

.slider-1 {
  background-image: url("../img/covernya2.png");
  background-size: cover;
}

.slider-2 {
  background-image: url("../img/d96eff85-ae75-4f56-bdfc-dd7a055e7400.png");
  background-size: cover;
}

.slider-3 {
  background-image: url("../img/laskar.png");
  background-size: cover;
}

.main-list {
  height: 300px;
}

.overlay-slider {
  height: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.next,
.terus {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow: hidden;
  height: 300px;
}

.sliderrr {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 20px 0;
  margin-left: -150px;
}

.sliderrr a {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 6em;
  color: #000000;
  text-align: center;
  z-index: 1;
  margin: 0 20px;
}

a.balik {
  top: 100px;
  bottom: 0;
  left: 180px;
  background-color: #ffffff;
  background-image: url("../img/Arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}

a.terus {
  top: 100px;
  bottom: 0;
  right: -130px;
  background-color: #ffffff;
  background-image: url("../img/Arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}

.box-slider-1 {
  width: 100%;
  /* background: red; */
}

.box-slider-2 {
  width: 100%;
  background: green;
}

@media (max-width: 768px) {
  .all-menu,
  .brand-logo a:nth-child(2) {
    display: none;
  }

  .brand-logo {
    justify-content: flex-end;
  }

  .brand-logo a {
    margin-right: 0;
  }

  .brand-logo .nav-item {
    display: block;
  }
}

@media (max-width: 450px) {
  .search-box {
    display: none;
  }
  .title-list-book {
    padding: 20px 50px;
  }
}
