.cover,
.home-overlay {
  background: url("../img/web.jpg");
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.cover-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
}

.cover-content {
  margin: 0 auto;
  z-index: 1;
  display: flex;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  align-content: center;
  padding: 250px 0;
}

.cover-form form,
.home-overlay__content form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.cover-form form input,
.home-overlay__content form input {
  margin: 0 5px;
}

.social-media,
.mentor,
.footer-end {
  background: #eeeeee;
  padding: 50px 0 80px;
}

.social-card,
.my-gallery,
.mentor-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.social-title,
.mentor-title {
  text-align: center;
  padding: 20px 0;
}

.card-home,
.card-mentor {
  text-align: center;
  background: transparent;
  border: none;
  z-index: 0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 10px 10px 10px #aaaaaa;
}

.card-mentor {
}

.card-home:hover,
.card-mentor:hover {
  transition: 0.5s;
  box-shadow: 5px 5px #aaaaaa;
}

.card-home i,
.card-mentor img {
  /* text-align: center; */
  font-size: 100px;
  color: #424242;
  padding-top: 25px;
}

.social-card .card-home,
.mentor-list .card-mentor {
  /* border: 1px solid #000000; */
  margin: 20px 0;
}

a.card-body,
a.card-body:hover {
  color: inherit !important;
}

.my-gallery {
  width: 100%;
}

.mg-satu {
  background: url("../img/web.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mg-dua {
  background: url("../img/laptop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mg-tiga {
  background: url("../img/komputer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-gallery__img {
  min-height: 400px;
  width: 50%;
}

.my-gallery__text {
  width: 50%;
}

.gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 400px;
  position: absolute;
}

.footer-option,
.footer-social {
  width: 50%;
}

.my-gallery__text {
  padding: 7rem;
}

.mentor-list img {
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
}

.home-overlay {
  background-attachment: fixed;
}

.home-overlay,
.cover-overlay__home {
  height: 250px !important;
  /* padding: 100px 0; */
}

.home-overlay__content {
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}

.home-overlay__content {
  color: #ffffff;
  padding: 80px 0;
}

.footer-end__content {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-end {
  padding: 30px 0 !important;
}

.footer-menu,
.footer-social {
  display: flex;
}

.footer-menu li {
  padding-right: 10px;
}

.footer-menu li a {
  /* flex-wrap: wrap !important; */
  color: #007bff !important;
}

.footer-social li a {
  font-size: 30px;
  margin: 0 10px;
  color: #007bff !important;
}

.footer-social {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .my-brand {
    display: none;
  }
  .social-card,
  .my-gallery,
  .mentor-list,
  .footer-end__content {
    flex-direction: column;
  }
  .my-gallery-2 {
    flex-direction: column-reverse !important;
  }
  .my-gallery__img,
  .my-gallery__text,
  .footer-option {
    width: 100%;
  }
  .footer-menu,
  .footer-social {
    justify-content: center;
  }
  .footer-option,
  .footer-social {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .my-gallery__text {
    padding: 3rem;
  }
}

@media (max-width: 576px) {
  .home-overlay__content {
    padding: 50px 0;
  }
  .home-overlay__content h2 {
    font-size: 20px;
  }
  .cover-form form input {
    margin: 1em 0;
  }
  .home-overlay__content form input {
    margin: 0.2em 0;
  }
  .home-overlay__content form {
    flex-direction: column;
  }
  .cover-content {
    padding: 150px 0;
  }
}

@media (max-width: 360px) {
  .cover-content {
    padding: 100px 0;
  }
}
