@import "./login.css";
@import "./detail.css";
@import "./dashboard.css";
@import "./home.css";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Airbnb";
  src: url("../fonts/AirbnbCereal-Medium.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Airbnb;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

.container {
  display: flex;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}
